{% extends "base.html" %}
<!--
  ~ © 2018 Tal Globus. All Rights Reserved.
  -->
{% block content %}
	<h1>The server says you're {{ user.username }}, but the client says you're <span id="name">Nobody</span>!</h1>
	<script>
		function post(endpoint, data) {
			xhttp.open("POST", endpoint, true);
			xhttp.setRequestHeader("Content-type", "application/json");
			xhttp.send(data);
		}

		function submitDemo() {
			let data = {
				location: [[37.3686537, -122.0751558], [37.6386321, -122.0863322]],
				cost: 1350,
				features: {
					'air_conditioning': true,
					'refrigerator': true,
					'dishwasher': true,
					'central_heating': true
				},
				name: "Yan Min Hong"
			};
			post('/api/lcf', data);
			console.log("Sent LCF");
		}
	</script>
	<button onclick="submitDemo">Test First Layer</button>
{% endblock %}